# تجاهل ملفات البيئة الحساسة
.env
*.env
.env.*

# تجاهل ملفات وقواعد البيانات المحلية
db.sqlite3
*.log

# تجاهل مجلدات النظام وإصدارات الكود
.git
.gitignore
.dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل مجلدات البيئة الافتراضية المحلية
venv/
.venv/
env/